//mixin
@mixin bgImg ($url, $pos:center, $repet:no-repeat, $type:png) {
    background-image: url(../assets/images/#{$url}.#{$type});
    background-repeat: $repet;
    background-position: $pos;
}

@mixin virtual() {
    display: block;
    position: absolute;
    top: 0;
    content: "";
}

@mixin contentWidth($width:1580px) {
    max-width: $width;
    margin: 0 auto;
}

@mixin shadow(){
    box-shadow: 3px 3px 9px 5px #ededed;
}