@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700|Roboto:400,500,700&display=swap');
html,body {
 height:100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video ,button{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
button {
    border:none;
    cursor: pointer;
    outline: none;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
    text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.en {
  font-family: 'Roboto', sans-serif;
}
.is_mobile {
    display:none;
}
@media screen and (max-width: 769px) {
    .is_pc{
        display:none;
    }
    .is_mobile {
        display:block;
    }
 }
 
// colors
$white : #fff;
$black: #000;
$black3 :#333;
$black4 : #444;

$gray7 :#777;
$gray8 :#888;
$gray9 :#999;

$blue :#157fec;
//mixin

@mixin bgImg ($url,$pos:center,$repet:no-repeat,$type:png){
    background-image: url(../assets/images/#{$url}.#{$type});
    background-repeat: $repet;
    background-position: $pos;
}
@mixin virtual(){
    display:block;
    position: absolute;
    top:0;
    content:"";
}

@mixin contentWidth($width:1580px){
    max-width:$width;
    margin:0 auto;
}

///////////////////////////////////////////common///////////////////////////////////

//tabs
.tab-section {
  display:flex;
  margin-bottom:49px;
  box-shadow: 3px 3px 3px 0px #dbdbdf;
  .select {
    flex : 0 0 auto;
    max-width:246px;
  }
  .tabs {
    display:flex;
    flex:1 1 auto;
    .tab {
      position:relative;
      flex:1 1 auto;
      text-align: center;
      background-color:$white;
      font-size:15px;
      line-height:16px;
      font-weight: 700;
      color:#bcc0ca;
      &.active {
        color:$blue;
        &::after {
          display:block;
          position:absolute;
          left:50%;
          bottom:0;
          width:80px;
          height:3px;
          margin-left:-40px;
          background-color:$blue;
          content:"";
        }
      }
    }
  }
}

//select
.select {
  width:100%;
  position:relative;
  height:60px;
  background-color:$blue;
  .selected {
    display:inline-block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    padding:0 20px;
    font-size:15px;
    line-height:60px;
    font-weight: 700;
    color:$white;
    cursor: pointer;
    @include bgImg(arrow/arrow_select,$pos:right 20px center);
  }
  .select-list {
    display:none;
    position:absolute;
    left:0;
    top:60px;
    width:100%;
    a {
      display:block;
    }
    &.on {
      display:block;
    }
  }
}
//file
.icon-file {
  display:inline-block;
  padding-right:37px;
  font-size:15px;
  line-height:27px;
  color:#9b9da1;
  @each $obj in excel , pdf {
    &.#{$obj}{
     @include bgImg(icon/icon_#{$obj},$pos:right center);
    }
  }
}
//btn
.btn-wrap {
    display: flex;
    margin-top:50px;
    &.center{
        justify-content: center;
    }
    .btn_more {
        width:200px;
        padding:22px;
        font-size:15px;
        line-height:16px;
        color:#b9c0ce;
        border:3px solid #ebeef4;
        background-color:#fff;
        span {
            display:inline-block;
            padding-right:22px;
            @include bgImg(arrow/arrow_more,$pos:right center);
        }
    }
}


 .content-bottom {
   background-color:$white;
   padding:110px 0 175px 0;
 }

 //board-style
 .board-section {
   @include contentWidth($width:1200px);
   .list {
     border-top:2px solid $black3;
     li {
       display:flex;
       position:relative;
       align-items: center;
       padding:38px 70px 38px 30px;
       border-bottom:1px solid #ececec;
       .board-title {
         font-size:20px;
         line-height:30px;
         color:$black3;
         font-weight: 500;
         letter-spacing:-0.7px;
       }
       .day {
         margin-left:auto;
         font-size:16px;
         color:#a9acb3;
       }
       .link {
         position:absolute;
         right:30px;
         top:50%;
         width:9px;
         height:17px;
         @include bgImg(bg/bg_board_link);
         transform: translateY(-50%);
       }
     }
     &.qa {
       li {
        .board-title {
          display:inline-block;
          padding-left:60px;
          @include bgImg(bg/bg_qa_q,$pos:left center);
        }
       }
     }
     &.thumbnail {
       .thumbnail-img {
         margin-right:40px;
       }
       .thumbnail-txt {
         .category {
           margin-bottom:8px;
           font-size:16px;
           font-weight: 500;
           color:#a9acb3;
         }
       }
     }
   }
 }